.content {
  @apply text-white font-mono m-4;

  h1 {
    @apply text-3xl lg:text-4xl mt-3 mb-4;
  }

  h2 {
    @apply text-2xl lg:text-3xl mt-3 mb-4;
  }

  h3 {
    @apply text-xl lg:text-2xl  mt-3 mb-6 relative;
    &::after {
      content: "";
      @apply absolute bottom-[-4px] left-0 w-full h-[1.5px]  rounded-sm bg-gradient-to-l from-[#6667FF] to-[#7FCBEE];
    }
  }

  h4 {
    @apply text-base lg:text-lg mt-3 mb-4;
  }

  h5 {
    @apply text-base mt-3 mb-2;
  }

  h6 {
    @apply text-sm mt-3 mb-2;
  }

  a {
    @apply text-blue-300 bg-slate-800;

    &:hover {
      @apply underline;
    }
  }

  p {
    @apply text-sm my-2 tracking-wider leading-relaxed;
  }

  em {
    @apply font-bold;
  }

  ol {
    @apply pl-4;
  }

  ul {
    @apply pl-0;

    li {
      @apply relative mb-2 ml-4 pl-6 list-none;

      &::before {
        @apply absolute left-0 top-[1px] text-xs;
        content: "\e71b";
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: 0.75rem;
      vertical-align: top;
      border: 1px solid #dee2e6;
    }

    // thead {
    //   // background: darken($color: $gray, $amount: 2);
    // }

    tbody {
      // background: $gray;

      td {
        text-align: left !important;
      }
    }
  }

  blockquote {
    @apply p-4 mb-4 mx-4 rounded-r-lg;
  }

  pre {
    i {
      @apply bg-gray-900 mb-2 border px-2 py-2 text-sm rounded-sm;
    }

    @apply pl-2 pr-4 py-2 mb-2 relative ml-0 overflow-auto;
    code {
      @apply bg-gray-900 border-none;
    }
  }

  code {
    @apply border border-slate-700  bg-slate-700 px-2 rounded-sm font-bold;
  }
}
